@using LibraryManagement_Day10.Domain.Dtos
@model BookDto

@{
    ViewData["Title"] = "Edit Book";
}

<h2>Edit Book</h2>

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ISBN"></label>
        <input asp-for="ISBN" class="form-control" />
        <span asp-validation-for="ISBN" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PublishedYear"></label>
        <input asp-for="PublishedYear" class="form-control" />
        <span asp-validation-for="PublishedYear" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="AuthorID"></label>
        <input asp-for="AuthorID" class="form-control" />
        <span asp-validation-for="AuthorID" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>